body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #212121;
    width: 500px;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
}

#display {
    width: 92%;
    height: 50px;
    padding: 20px;
    background-color: #bdb7b7;
    border: none;
    border-radius: 20px;
    color: rgb(58, 56, 56);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#calckeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.operator {
    background-color: orange;
}

button:active {
    background: #e5e5e5;

}

.other {
    background-color: rgb(145, 188, 244);
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 45px;
    padding: 10px;
    border: none;
    background-color: grey;
    color: white;
}

/* mobile phone */
@media (max-width:600px) {
    .container {
        background-color: #f1eeee;
        width: 400px;
        height: 600px;
        border: 2px solid black;
        padding: 20px;
    }

    #display {
        background-color: #f1eeee;
        width: 90%;
        border: 2px solid black;
        color: #212121;
    }

    button {
        height: 80px;
        width: 80px;
        border-radius: 80%;
        font-size: 40px;
    }
}